<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<%= form_tag items_path, method: :get, enforce_utf8: false, id: "search-form" do %>
  <%= label_tag 'sort[distance_from]', "Location" %>
  <%= search_field_tag 'sort[distance_from]', params[:sort].try(:[], :distance_from), placeholder: "Edinburgh" %>
  <input type="Submit" value="Search">
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Email</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.email %></td>
        <td><%= link_to item.location, items_path(sort: { distance_from: item.location }) %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
