<!DOCTYPE html>
<html>
<head>
  <title>ClothingExchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="global-header">
			<h1>ClothingExchange</h1>
			<ul class="nav">
				<li class="browse">
					<h2>Browse<span class="delimiter">:</span></h2>
					<ul>
						<li class="items"><%= link_to 'Items', items_path %></li>
						<li class="locations"><%= link_to 'Locations', locations_path %></li>
						
					</ul>
				</li>
				<li class="post">
					<h2>Post<span class="delimiter">:</span></h2>
					<ul>
						<li class="new-item"><%= link_to 'New Item', new_item_path %></li>
						<!-- li class="wanted">link_to 'Wanted', new_wanted_path </li -->
					</ul>
				</li>
				<li class="user">
					<h2>&#128100;</h2>
					<ul>
						<% if user_signed_in? %>
							<li class="my-items"><%= link_to 'My Items', items_path(user_id: current_user.id) %></li>
							<li class="sign-out"><%= link_to 'Sign-out', destroy_user_session_path, :method => :delete %></li>
						<% else %>
							<li class="sign-in"><%= link_to 'Sign-in', new_user_session_path %></li>	
						<% end %>
					</ul>
				</li>
			</ul>
		</div>
	
<div class="<%= controller_name %>">
<div class="<%= action_name %>">
<%= yield %>
</div>
</div>

	<div class="global-footer">
		<h2>Site Navigation</h2>
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<!-- li>About</li>
			<li>Help</li -->
		</ul>
	</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
